@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:wght@400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf0f3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form {
  background-color: #6acc01;
  border-top: 1px solid white;
  border-bottom: 1px solid rgb(218, 218, 218);
  background: linear-gradient(to bottom, #f7f7f7 0%,#e5e5e5 100%);
  width: 100%;
  padding: 13px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-form {
  width: 565px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  
  
}

input {
  width: 500px;
  font-size: 16px;
  padding: 7px 20px;
  border: none;
  outline: none;
  background-color: #fff;
  color: rgb(48, 48, 48);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-appearance: none;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
  -webkit-box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.input-btn {
  border: none;
  background: linear-gradient(to bottom,  #8fe21b 0%,#6cb30a 100%);
  text-shadow: 0px -1px 0px #4C7B0C;
  cursor: pointer;
  font-size: 17px;
  outline: none;
  color: white; 
	border: 1px solid #999;
	padding: 6px 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

}

.input-btn:hover {
  background: linear-gradient(to bottom,  rgba(158,251,30,1) 0%,rgba(121,200,12,1) 100%);
}

h1 {
  margin-top: 200px;
  margin-bottom: -100px;
  font-size: 42px;
  color: #81c741;
}

.icon {
  top: 130px;
  width: 140px;
  position: absolute;
  z-index: -1;
}



/* RecipesComponent************************************************************************************************************************ */

.container-recipes {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto;
  width: 78%;
}


.recipe-label {
  color: #222;
  text-align: center;
  font-size: 21px;
  font-weight: 800;
}

.box-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.135);
    width: 450px;
    margin: 40px;
    margin-top: 200px;
    padding: 10px;
}

.recipe-image {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
  margin-top: -100px;
}

.recipe-calories {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background-color: #6acc01;
  padding: 10px 30px;
  border-radius: 10px;
  background: linear-gradient(to bottom,  #8fe21b 0%,#6cb30a 100%); /* W3C */
	font: bold 18px Arial;
	text-shadow: 0px -1px 0px #4C7B0C;
	color: #FFF;
	border-color: #999;
}

.box-recipe-igredients {
  width: 80%;
}

.box-ul {
  background-color:#fefeff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #fff;
  
  
}

.recipe-igredients {
  width: 400px;
  height: 150px;
  overflow-y: auto;
  flex-wrap: nowrap; 
  text-align: center;
}

.recipe-igredients::-webkit-scrollbar {
  display: none; 

}

.ingredient {
  color: #3a3a3a;
  font-size: 15px;
  margin-top: 2px;
  font-weight: 400;
}

.ingredientsLength {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #3a3a3a;
}

.btn-add {
  width: 100%;
  padding: 10px 0px;
  border: none;
  background-color: #6acc01;
  border-radius: 10px;
  color: white;
  
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #e6e6e6;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerPar {
  color: rgb(128, 128, 128);
  font-size: 14px;
  font-weight: 200;
  text-shadow: 1px 1px 1px white;
}

.container-recipes-info {
  display: flex;
  justify-content: space-evenly;

}

.subcontainer-recipes-info {
  background-color: #efeff3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 27px;
  height: 100px;
  padding: 3px;
}

.callInfo {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.callInfo p {
  font-size: 14px;
  font-weight: 600;
}

.cal-name {
   width: 50px;
   height: 50px;
   display: flex;
  align-items: center;
  justify-content: center;
}

.cal-name span {
  font-size: 13px;
  color: #9d9d9f;
}

.box-cookingTime {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookingTime {
  text-align: center;
  color: #9d9d9f;
  vertical-align: middle;
}

.cookingTime span {
  color: rgb(189, 0, 0);
}

.box-link {
  display: flex;
  justify-content: center;
}

.box-link a {
  color: #9d9d9f;
  font-size: 13px;
}

.box-link a:hover {
  color: #81c741;
}

.box-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media all and (max-width: 1200px) {
  .container-recipes {
    margin: 100px auto;
    margin-right: 0px;
  }
}

@media all and (max-width: 1150px) {
  .container-recipes {
    margin: 100px auto;
    margin-right: 0px;
  }
}

@media all and (max-width: 630px) {
  .input-form {
    width: 90%;
  }

  form {
    width: 100%;
  }

  input {
    width: 100%;
    margin: 0;
  }
}

@media all and (max-width: 500px) {
  .box-info {
      width: 100%;
      padding: 10px;
      margin-left: 5px;
      margin-right: 5px;
  }

  .container-recipes {
    width: 100%;
  }


  .recipe-igredients {
    margin-left: 0px;
  }

  .input-form {
    width: 80%;
  }

  form {
    width: 100%;
  }

  input {
    width: 100%;
    margin: 0;
  }

  .recipe-igredients {
    width: 100%;
  }
}